@{
    ViewData["Title"] = "About Us";
}

<html>
<head>

    <style>
                /* self inserted css
        -------------------------------------------------- */
                html {
                    margin-right: 200px;
                    margin-left: 200px;
                    background-color: black;
                }

                /* The body tag applies to the text aspect of the document. */
                body {
                    padding: 70px;
                    font-size: larger;
                    line-height: 1.6;
                    background-color: #eec9d2;
                    margin: 0;
                }

                /*A lot of selectors pertaining to the section were used.*/
                h1 {
                    padding: 30px;
                    text-align: center;
                    text-decoration: underline;
                    color: black;
                    font-size: 40px;
                }

                h2 {
                    text-align: center;
                    padding: 30px;
                }

                p {
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 30px;
                }

    </style>

</head>

<body>
    <h1>About Us:</h1>

    <h2>Information about the company</h2>
    <p>
        At The Savvy Sock Sack, we are passionate about bringing a touch of innovation and comfort to your everyday life. Our mission is to revolutionize the way you think about socks and storage.
        We supply socks worldwide! The shipping is free if you are a returning customer. We value your privacy, for more details please check our privacy policies from the navbar above. Our social media handle is xxxx
        and we are available to chat on all Meta platforms. If you have any questions, concerns or requests please don't hesistate to reach out to us. We would love to hear from you!
    </p>
    <h2>Our Founder</h2>
    <p>
        Meet Rudri Pota, the mastermind behind The Savvy Sock Sack. Rudri's passion for comfort and creativity led to the inception of our unique company.
        With a background in fashion, web designing and a love for out-of-the-box thinking, Rudri brings a fresh perspective to the world of socks.
    </p>
    <h2>Staff & More</h2>
    <p>
        At The Savvy Sock Sack, we believe that our employees are the heart and soul of our business. We value the hard work and dedication of our team and are committed to their well-being.
        We go above and beyond to make sure our employees feel appreciated. Each year, we organize company retreats in picturesque locations, providing a break from the daily grind and fostering team spirit.
        We invest in the professional growth of our employees. From skill-building workshops to tuition reimbursement programs, we support their continuous development. Moreover, we understand that work-life balance is essential. 
        Our employees enjoy flexible work arrangements, allowing them to achieve their career goals while maintaining a fulfilling personal life. So what are you waiting for? Join the Savvy Sock Sack today!
    </p>
</body>
</html>