@{
    ViewData["Title"] = "Home Page";
}

<!-- <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->

<html>
    <head>
        
        <style>
            /* self inserted css
-------------------------------------------------- */
            html {
                margin-right: 200px;
                margin-left: 200px;
                background-color: black;
            }

            /* The body tag applies to the text aspect of the document. */
            body {
                padding: 70px;
                font-size: larger;
                line-height: 1.6;
                background-color: #eec9d2;
                margin: 0;
            }

            /*A lot of selectors pertaining to the section were used.*/
            h1 {
                padding: 30px;
                text-align: center;
                text-decoration: underline;
                color: black;
                font-size: 40px;
            }

            h2 {
                text-align: center;
                padding: 30px;
            }
             p {
                font-family: 'Times New Roman', Times, serif;
                font-size: 30px;
            }

            img[title="logo.jpg"] {
                width: 40%;
                display: block;
                margin-left: auto;
                margin-right: auto;
                padding: 30px;
            }
        </style>
    
    </head >
    <body>

        <h1>Savvy Sock Sack</h1>

        <h2>Made with love and organic materials</h2>
        <p>
            We are so honoured that you chose to shop with our store today! We hope our socks make you as happy as you make us :)
        </p>
        <p>
            Please click on the option above to know more about us or access our database.
        </p>

        <img src="~/css/logo.jpg" title="logo.jpg" alt="savvysocksacklogo">
    </body>
    </html >
